
/* imports common style ruleset */
/* @import url(common.css); */
/* @import url(globals.css); */

/* Body */

/*
@font-face {
   font-family: "Print Char 21";
   src: url('/PrintChar21.ttf');
}
*/

@font-face {
   font-family: "Inconsolata";
   src: url('/Inconsolata.otf');
}

body {
   padding: 0px;
   margin: 0px;
   font-family: "Molengo", "DejaVu Sans", "Bitstream Vera Sans", sans;
   /*color: #2a2a2a;*/
   background: url("/img/bg.png");
   background-repeat: repeat-y;
   background-position: right top;
}

/* Header */

div.header {
   background: url("/img/header_background.png");
   background-repeat: repeat-y;
   background-position: left-top;
   min-height: 77px;
   border-bottom: solid 2px #5a5a5a;
   text-align: left;
   cursor: pointer;
}

div.header_icon {
   //background: url("/img/squares.gif");
   background-repeat: no-repeat;
   background-position: left-top;
}

img.header_name {
   padding-top: 15px;
   padding-left: 16px;
   padding-bottom: 15px;
}

a.item {
   /*color: #111;*/
   /*font-weight: bold;*/
}

/* Menu */

div.menu {
   background: url("/img/menu_background.png");
   padding: 15px;
   background-repeat: repeat-y;
   background-position: left-top;
   border-bottom: solid 1px #5a5a5a;
   letter-spacing: 2px;
   font-size: 18px;
   text-shadow: 0.05em 0.05em 0.2em #5a5a5a;
}

/* Main */

div.main {
   margin-right: 350px;
   padding: 4% 6%;
}

/* Sidebar */

div.sidebar {
   float: right;
   padding: 10px;
   width: 330px;
}

/* Content */

a {
   text-decoration: none;
   /*color: #152;*/
}

.sidebar {
   /*color: #555;*/
}

.sidebar a {
   /*color: #152;*/
}

.quote a {
   /*color: #152;*/
}

a:hover {
   text-decoration: underline;
   /*color: #111;*/
}

a.titlelink {
   /*color: #111;*/
}

a.titlelink:hover {
   /*color: #374;*/
}

h1 {
   margin: 0px;
   font-weight: normal;
   /*color: #111;*/
   margin-bottom: 25px;
   border-style: solid;
   /*border-color: #cdc;*/
   border-width: 0px 0px 1px 0px;
}

h2 {
   margin: 0px;
   font-weight: normal;
   font-size: 24px;
   letter-spacing: 1px;
   color: black;
   margin-top: 25px;
}

.sidebar h2 {
   text-align: center;
   /*color: #111;*/
   letter-spacing: 2px;
   font-size: 26px;
   border-style: solid;
   border-color: #cdc;
   border-width: 0px 0px 1px 0px;
}

pre {
   background-color: #e0f0ff;
   overflow: auto;
   color: black;
   padding: 15px;
   border: 1px solid rgb(144,170,170);
   font-family: "Inconsolata", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", mono;
}

code {
   font-family: "Inconsolata", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", mono;
}

/*
pre.apple2 {
   background-color: #222;
   color: #eee;
   padding: 15px;
   border: 1px solid #777;
   font-family: "Print Char 21", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", mono;
   font-size: 12px;
}
*/

ul {
   padding-left: 2em;
}

li {
   padding-top: 5px;
   padding-bottom: 5px;
}

/*table {
   border-spacing: 7px;
}
*/

blockquote {
   color: #555;
   border-spacing: 7px;
   border-style: solid;
   border-color: #8a8;
   border-width: 0px 0px 0px 2px;
   margin-left: 20px;
   padding-left: 20px;
}

td {
   vertical-align: top;
}

p.ref {
   text-indent: -2em;
   padding-left: 2em;
}

p.footdate {
   color: #777;
   font-style: italic;
   font-size: 10px;
}

li.entry-info, li.link-comments {
   color: #777;
   font-style: italic;
}

img.right {
   padding-bottom: 4px;
   padding-left: 4px;
   float: right;
}

img.left {
   padding-bottom: 4px;
   padding-right: 4px;
   float: left;
}

ul.entry-footer {
   margin-bottom: 40px;
}
